header {
	background-color: #000;
	color: white;
	padding: 60px;
	font-family: 'Rock Salt';
}

body{
	background-color: #062f4f;
}

.header1 {
	background-color: #b82601; 
	color: #062f4f;
	font-family: 'Homemade Apple';
	font-size: 24px;
	margin: 0;
	padding: 1em;
	line-height: 1.5;
	border-radius: 20px;
}


#article1 {
	background-color: #b82601; 
	color: #062f4f;
	font-family: 'Homemade Apple';
	font-size: 24px;
	margin: 1px;
	padding: 1em;
	line-height: 1.5;
	border-radius: 15px;
}

/*#article1 {
	color: #062f4f;
	font-family: 'Homemade Apple';
}*/


.header2,
#article2 {
		color: #FF6E0D;
		font-family: 'Calligraffitti';
		font-size: 22px;
		background-color: #c72b03;
		padding: 1.25em;
		margin: 0;
		line-height: 2;
		border: 2px solid #b82601;
}

/*#article2 {
		color: #FF6E0D;
		font-family: 'Calligraffitti';
}*/

.header3,
 #article3 {
	color: #3B1834; /*#062c4c*/
	font-family: 'Annie Use Your Telescope';
	font-size: 20px;
	background-color: #C63510;
	padding: 1.75em;
	margin: 0;
	line-height: 2.5;
	border: 5px dotted #E64D25;
}

/*#article3 {
	color: #813772;
	font-family: 'Annie Use Your Telescope';
}*/

.header4 {
	color: #b82601;
	font-family: 'Nothing You Could Do';
	background-color: #E64D25;
	margin: 0;
	padding: 2em;
	line-height: 2.25;
	border-radius: 50px;
}

#article4 {
	color: #b82601;
	font-family: 'Nothing You Could Do';
	font-size: 18px;
	background-color: #E64D25;
	margin: 1px;
	padding: 2em;
	line-height: 1.50;
	border-radius: 50px;
}

.header5 {
	color: #782D69;
	font-family: 'Waiting for the Sunrise';
	background-color: #E55A35;
	margin: 0;
	padding: 2.25em;
	line-height: 1.75;
	border: 4px dotted #C63510;
	border-radius: 25px;
}

#article5 {
	color: #782D69;
	font-family: 'Waiting for the Sunrise';
	font-size: 16px;
	background-color: #E55A35;
	margin: 1px;
	padding: 2.25em;
	line-height: 2.25;
	border: 4px dotted #C63510;
	border-radius: 25px;
}
footer {
	padding: 1rem;
	font-size: 22px;
}
